$main_background: #5E752C;
$main_background_dark: darken($main_background, 10%);
$main_background_light: lighten($main_background, 20%);
$main_background_desaturated: desaturate($main_background_light, 12%);
$timeline_color: #eddef2;


.tooltip {
	width: auto;
	color:white;
	background-color:black;
	text-align:center;
	padding:10px;
}

body {
	background:linear-gradient(135deg, $main_background_dark, $main_background_light);
	height: 100%;
	width: 100%;
	margin: 0;
}

.container {
	background-color:white;
	width: 550px;
	height:250px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 150px;
	border-radius: 5px;
	position: relative;
}

.container p {
	font-family: Open Sans;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	font-size:.8em;

}

.timeline {
	margin-top:30px;
	width: 100%;
	height: 20%;
	background-color:$timeline_color;
	border-radius: 0 0 5px 5px;
}

.circle {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: purple;
	border: 5px solid $timeline_color;
	position: relative;
	top: -5;
	left: 45%;
	margin-bottom:0;
}

.event {
	width: 32%;
	display:inline-block;
	text-align: center;
	position:relative;
	bottom: 5px;
}

.bottom-nav {
	background-color: $main_background_desaturated;
	height: 80px;
	width: 100%;
	position:absolute;
	bottom: 0;
	margin:0;
}

.inactive-button, .wikipedia-button {
	color:white;
	text-align: center;
	height: 40px;
	width: 225px;
	float:right;
	border: 1px solid white;
	margin:15px;
	font-family: Arial;
	font-size:14px;
	display:table;
}

.wikipedia-button {
	background-color:purple;
}